.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.sceneWrapper {
    display: flex;
    z-index: 100;
    background-color: aqua;
    width: 400px;
    height: 400px;
}

.categoriesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.linkStyle {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.linkStyle:hover {
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    transition: 0.5s;
}

.listWrapper {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.descriptionWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    height: 200px;
    width: 300px;
    margin-top: 20px;
}

.image {
    height: 100%;
    width: 100%;
}

.weaponDescription {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.weaponName {
    font-size: 30px;
    font-weight: bold;
    color: ghostwhite;
}

.weaponTest {
    margin-top: 20px;
    text-align: left;
    max-width: 300px;
    color: ghostwhite;
}