.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.blockWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.textWrapper {
    font-size: 30px;
    color: ghostwhite;
    text-align: end;
    margin-left: 5rem;
}

.btnWrapper {
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .blockWrapper {
        flex-direction: column;
        align-items: center;
    }

    .textWrapper {
        text-align: center;
        margin-left: 0;
    }

}